body {
	background-color: #222;
	color: #999999;
}
a {
	color: white;
}
#container {
	background-color: #555;
	border:solid 1px black;
	margin:100px;
	padding:20px;
}
#wombat-graphic {
	float:left;
	padding-right:20px;
	padding-bottom:20px;
}
.title {
	padding:20px;
	border:solid 1px black;
	font-size:20px;
	background-color:#B0D4B0;
	color: #222;
}
.repeats-div {
}
/* CALENDAR */
.day {
	padding:0;
	width:150px;
}
.cal-day-number {
	font-size:10px;
	float:right;
	border-left: solid 1px white;
	border-bottom: solid 1px white;
	padding-left:1px;
}
.calendar-item {
	border: dashed 1px white;
	margin:1px;
	padding:1px;
	width:100px;
}
.calendar-item a {
	color: #555;
}
